ADTECHMobileSDK_iOS_3.2.2/Docs/de.adtech.ADTECHMobileSDK-3.2.2.xar
ADTECHMobileSDK_iOS_3.2.2/Docs/install.sh
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp.xcodeproj/project.pbxproj
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp.xcodeproj/xcshareddata/xcschemes/ADTECHSampleApp.xcscheme
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ADTECHSampleApp-Info.plist
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ADTECHSampleApp-Prefix.pch
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/AppDelegate.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/AppDelegate.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/AutoHideViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/AutoHideViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/CustomMediationViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/CustomMediationViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/DetailViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/DetailViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ImageResizeViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ImageResizeViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/InterstitialViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/InterstitialViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/LandingPageBehaviorViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/LandingPageBehaviorViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/LazyLoadViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/LazyLoadViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ListViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ListViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/MasterViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/MasterViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ResizableAdsViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ResizableAdsViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default-568h@2x.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default-Landscape@2x~ipad.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default-Landscape~ipad.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default-Portrait@2x~ipad.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default-Portrait~ipad.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default@2x.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Icon-72.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Icon-Small-50.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Icon-Small.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Icon-Small@2x.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Icon.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Icon@2x.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/background@2x~ipad.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/background@2x~iphone.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/background~ipad.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/background~iphone.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/iTunesArtwork.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/UIViewController+ADTECHSampleApp.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/UIViewController+ADTECHSampleApp.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/VideoViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/VideoViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/AutoHideViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/AutoHideViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/CustomMediationViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/CustomMediationViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/DetailViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/DetailViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/ImageResizeViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/ImageResizeViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/InfoPlist.strings
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/InterstitialViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/InterstitialViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/LandingPageBehaviorViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/LandingPageBehaviorViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/LazyLoadViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/LazyLoadViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/ListViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/ListViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/MasterViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/MasterViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/ResizableAdsViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/ResizableAdsViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/VideoViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/VideoViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/main.m
AdtechBannerPOC.xcodeproj/project.xcworkspace/xcuserdata/alin.muntean.xcuserdatad/UserInterfaceState.xcuserstate
AdtechBannerPOC.xcodeproj/project.xcworkspace/xcuserdata/alin.muntean.xcuserdatad/WorkspaceSettings.xcsettings
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/DoubleClick/DFPBannerView.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/DoubleClick/DFPExtras.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/DoubleClick/DFPInterstitial.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/DoubleClick/DFPSwipeableBannerView.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/DoubleClick/GADAdSizeDelegate.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/DoubleClick/GADAppEventDelegate.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/DoubleClick/GADSwipeableBannerViewDelegate.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Changelog.txt
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/Classes/GAI.html
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/Classes/GAITrackedViewController.html
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/Classes/GAITransaction.html
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/Classes/GAITransactionItem.html
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/Protocols/GAITracker.html
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/css/styles.css
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/css/stylesPrint.css
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/hierarchy.html
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/img/button_bar_background.png
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/img/disclosure.png
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/img/disclosure_open.png
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/img/library_background.png
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/img/title_background.png
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Documentation/html/index.html
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/AppDelegate.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/AppDelegate.m
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/CategoryViewController.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/CategoryViewController.m
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/CategoryViewController_iPad.xib
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/CategoryViewController_iPhone.xib
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/CuteAnimals-Info.plist
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/CuteAnimals-Prefix.pch
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/CuteAnimals.xcodeproj/project.pbxproj
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/ImageViewController.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/ImageViewController.m
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Bunny-1.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Bunny-2.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Bunny-3.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Cat-1.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Cat-2.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Cat-3.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Cat-4.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Lion-1.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Lion-2.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Lion-3.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Lion-4.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Monkey-1.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Monkey-2.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Monkey-3.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Monkey-4.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Monkey-5.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Tiger-1.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Images/Tiger-2.jpg
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/NavController.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/NavController.m
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/Readme.txt
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/RootViewController.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/RootViewController.m
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/RootViewController.xib
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Examples/CuteAnimals/main.m
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Library/GAI.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Library/GAITrackedViewController.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Library/GAITracker.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Library/GAITransaction.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Library/GAITransactionItem.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Library/libGoogleAnalytics.a
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Library/libGoogleAnalytics_debug.a
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/GoogleAnalyticsiOS_2.0beta4/Readme.txt
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/Mediation/GADCustomEventBanner.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/Mediation/GADCustomEventBannerDelegate.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/Mediation/GADCustomEventExtras.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/Mediation/GADCustomEventInterstitial.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/Mediation/GADCustomEventInterstitialDelegate.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/Mediation/GADCustomEventRequest.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/Search/GADSearchBannerView.h
GoogleAdMobAdsSdkiOS-6.4.2/Add-ons/Search/GADSearchRequest.h
