ADTECHMobileSDK_iOS_3.2.2/Docs/de.adtech.ADTECHMobileSDK-3.2.2.xar
ADTECHMobileSDK_iOS_3.2.2/Docs/install.sh
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp.xcodeproj/project.pbxproj
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp.xcodeproj/xcshareddata/xcschemes/ADTECHSampleApp.xcscheme
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ADTECHSampleApp-Info.plist
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ADTECHSampleApp-Prefix.pch
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/AppDelegate.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/AppDelegate.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/AutoHideViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/AutoHideViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/CustomMediationViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/CustomMediationViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/DetailViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/DetailViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ImageResizeViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ImageResizeViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/InterstitialViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/InterstitialViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/LandingPageBehaviorViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/LandingPageBehaviorViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/LazyLoadViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/LazyLoadViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ListViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ListViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/MasterViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/MasterViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ResizableAdsViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/ResizableAdsViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default-568h@2x.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default-Landscape@2x~ipad.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default-Landscape~ipad.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default-Portrait@2x~ipad.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default-Portrait~ipad.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Default@2x.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Icon-72.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Icon-Small-50.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Icon-Small.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Icon-Small@2x.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Icon.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/Icon@2x.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/background@2x~ipad.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/background@2x~iphone.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/background~ipad.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/background~iphone.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/Resources/Images/iTunesArtwork.png
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/UIViewController+ADTECHSampleApp.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/UIViewController+ADTECHSampleApp.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/VideoViewController.h
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/VideoViewController.m
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/AutoHideViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/AutoHideViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/CustomMediationViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/CustomMediationViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/DetailViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/DetailViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/ImageResizeViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/ImageResizeViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/InfoPlist.strings
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/InterstitialViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/InterstitialViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/LandingPageBehaviorViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/LandingPageBehaviorViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/LazyLoadViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/LazyLoadViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/ListViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/ListViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/MasterViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/MasterViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/ResizableAdsViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/ResizableAdsViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/VideoViewController~ipad.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/en.lproj/VideoViewController~iphone.xib
ADTECHMobileSDK_iOS_3.2.2/Sample/ADTECHSampleApp/main.m
AdtechBannerPOC.xcodeproj/project.xcworkspace/xcuserdata/alin.muntean.xcuserdatad/UserInterfaceState.xcuserstate
AdtechBannerPOC.xcodeproj/project.xcworkspace/xcuserdata/alin.muntean.xcuserdatad/WorkspaceSettings.xcsettings
