<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdMobConfig</key>
	<dict>
		<key>AdditionalParameters</key>
		<dict/>
		<key>Keywords</key>
		<array/>
		<key>AdUnitID</key>
		<string>a14f27d03f5dbd4</string>
		<key>Gender</key>
		<string>Male</string>
		<key>TestDevices</key>
		<dict>
			<key>Item 0</key>
			<string>Simulator</string>
		</dict>
	</dict>
	<key>ADTECHConfig</key>
	<dict>
		<key>Schema</key>
		<string>http</string>
		<key>Domain</key>
		<string>a.adtech.de</string>
		<key>Port</key>
		<integer>0</integer>
		<key>NetworkID</key>
		<integer>23</integer>
		<key>SubNetworkID</key>
		<integer>4</integer>
		<key>HostApplicationName</key>
		<string>ADTECHSample</string>
		<key>OpenLandingPagesThroughBrowser</key>
		<true/>
		<key>AnimationType</key>
		<string>LEFT_TO_RIGHT</string>
		<key>RefreshInterval</key>
		<integer>30</integer>
		<key>AllowLocationServices</key>
		<false/>
	</dict>
</dict>
</plist>
